# Python
__pycache__/
*.py[cod]
*$py.class

# Type checking / testing
.mypy_cache/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
